<h1>Our Blog</h1>
<hr />
<% @posts.each do |post| %>
	<h2><%= link_to post.title, post %></h2>
	<br>
	<p><%= post.content %></p>
	<small><%= link_to "Edit", edit_post_path(post) %> | 
	<%= link_to "Delete", post, :data => {:confirm => "Are you sure?"}, :method => :delete %></small>
	<br>
	<hr />
<% end %>

<p><%= link_to "Add a new post...", new_post_path %></p>
