<% if !user_signed_in? %>
	<div class="jumbotron transparent-white">
		<h1>Things done!</h1>
		<p>I do lots of things! I haved logged some of them here, kind of like a scrap book!
		Other users can log things too! Simply sign up and add any things you would like!</p>
		<p><%= link_to "Sign up to log things!", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
	</div>
<% end %>

<div class="row">
	<% i = 0 %>
	<% @things.each do |thing| %>
		<div class="thumbnail col-sm-12 col-md-12 transparent-white">
			<% if thing.video_tag != nil %>
				<% if i % 2 == 0 %>
					<div class="col-sm-6 col-md-6">
						<div class="centered-text">
							<iframe src="https://www.youtube.com/embed/<%= thing.video_tag %>" width="448" height="252" frameborder="0" allowfullscreen></iframe>
							<%#  %>
							<%# <%= link_to (image_tag anime.poster.url(:medium), class: 'image'), thing %>
						</div>
					</div>
				<% end %>
				<div class="col-sm-6 col-md-6">
					<div class="centered-text">
						<h2>
							<%= link_to thing.title, thing %>
						</h2>
						<p>
							<%= thing.description %>
						</p>
					</div>
				</div>
				<% if i % 2 != 0 %>
					<div class="col-sm-6 col-md-6">
						<div class="centered-text">
							<iframe src="https://www.youtube.com/embed/<%= thing.video_tag %>" width="448" height="252" frameborder="0" allowfullscreen></iframe>
							<%#  %>
							<%# <%= link_to (image_tag anime.poster.url(:medium), class: 'image'), thing %>
						</div>
					</div>
				<% end %>
				<% i += 1 %>
			<% else %>
				<div class="col-sm-12 col-md-12">
					<div class="centered-text">
						<h2>
							<%= link_to thing.title, thing %>
						</h2>
						<p>
							<%= thing.description %>
						</p>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
